@inherits AppBase

<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="@LazyLoadedAssemblies"
        OnNavigateAsync="@OnNavigateAsync">

    <Navigating>
        <div class="splash-screen">
            <div class="spinner-border"></div>
            <div class="splash-screen-text">Loading...</div>
        </div>
    </Navigating>

    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>

</Router>